@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-01: #1D1D1F;
  --dark-02: #1D1D1FA6;
  --dark-03: #1D1D1F66;
  --dark-04: #1D1D1F0D;

  --light-01: #F5F5F7;
  --light-02: #F5F5F7A6;
  --light-03: #F5F5F766;
  --light-04: #F5F5F70D;
}

html, body {
  background-color: #1D1D1F !important;
  color: #F5F5F7 !important;
  font-family: 'Inter', -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}